{% extends 'app/base.html' %}
{% load static %}

{% block title %}
  Realtime Detection
{% endblock %}

{% block main-content %}
<h2 class="text-light fs-1 fw-bold">Realtime Detection</h2>

<div class="loader" style="display: none;">
  <div class="loader-icon" ></div>
</div>
<button type="button" id="reload-button" class="reload-button" style="display: none;">
  Interupt
</button>
<form method="post" id="video-form">
  {% csrf_token %}
  <button type="submit">Start Detecting Through WebCam</button>
</form>

<canvas id="video-canvas" width="640" height="360"></canvas>

<video style="display: none;" id="videoElement" autoplay loop muted src="{% static 'app/images/sample_canvas.webm' %}"></video>

<script>
  const videoCanvas = document.getElementById('video-canvas');
  const ctx = videoCanvas.getContext('2d');
  const form = document.getElementById('video-form');
  const loader = document.querySelector('.loader');
  const reloadButton = document.getElementById('reload-button');
  const image = new Image();
  image.onload = function() {
    ctx.drawImage(image, 0, 0, videoCanvas.width, videoCanvas.height)
  };
  image.src = '{% static "app/images/sample_road.png" %}';

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      loader.style.display = 'flex'; // Show loader on form submission
      reloadButton.style.display = 'flex'; 

      const response = await fetch('/realtime_video/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-CSRFToken': '{{ csrf_token }}',
        },
      });

      if (response.ok) {
        loader.style.display = 'none'; 
        const reader = response.body.getReader();
        const decoder = new TextDecoder

      let chunks = [];
      const processChunk = async () => {
        const { done, value } = await reader.read();
        if (done) {
          window.location.reload();
          return;
        }

        chunks.push(decoder.decode(value));
        const entireStream = chunks.join('');
        const frames = entireStream.split('--frame\r\n');

        for (let i = 1; i < frames.length; i++) {
          const frameData = frames[i].split('\r\n\r\n')[1];
          const img = new Image();
          img.onload = () => {
            ctx.drawImage(img, 0, 0, videoCanvas.width, videoCanvas.height);
          };
          img.src = `data:image/jpeg;base64,${frameData}`;
        }

        await processChunk();// Recursive call to process the next chunk
      };

      processChunk();
    } else {
      // Handle potential errors in the response (e.g., display error message)
      console.error('Error processing video:', await response.text());
    }
  });

  reloadButton.addEventListener('click', () => {
    window.location.reload();
    
  });
</script>
{% endblock main-content %}